mixin workThumb(work, links)
  .work--thumb.work.work--has-tools(data-hash=work.hash)
    + workTools(work)
    + work(work, `/works/thumb/${work.filename}`, links)

mixin workMedium(work, links)
  .work--medium.work.work--has-tools(data-hash=work.hash)
    + workTools(work, true)
    + work(work, `/works/medium/${work.filename}`, links)

mixin workFull(work, links)
  .work--full.work.work--has-tools(data-hash=work.hash)
    + workTools(work, true)
    + work(work, `/works/full/${work.filename}`, links)

mixin workTools(work, all)
  .work__tools

    if all
      button.btn.btn-link(data-link=`/language/${work.hash}#parents`) parents
      button.btn.btn-link(data-link=`/language/${work.hash}#siblings`) siblings

    if authenticated
      button.btn.btn-breed(data-hash=work.hash) breed
      button.btn.btn-link(data-link=`/dissect/${work.hash}#parents`) dissect
      button.btn.btn-kill(data-hash=work.hash) &times;
      
mixin work(work, URL, links)
  if links
    a.no-link(href=`/language/${work.hash}`)
      + workBody(work, URL, links)
  else
      + workBody(work, URL, links)


mixin workBody(work, URL)
  if work.imageStatus === 0
    img.shadow(src='/images/rendering.png')
    p.title= `${work.title} (rendering)`

  else if work.imageStatus === 2
    img.shadow(src=URL)
    p.title= work.title