mixin workThumb(work, links, noTitle)
  .work--thumb.work.work--has-tools(data-hash=work.hash)
    + workTools(work)
    + work(work, `/works/thumb/${work.filename}`, links, noTitle)

mixin workMedium(work, links)
  .work--medium.work.work--has-tools(data-hash=work.hash)
    //+ workTools(work)
    + work(work, `/works/medium/${work.filename}`, links)

mixin workFull(work, links)
  .work--full.work.work--has-tools(data-hash=work.hash)
    //+ workTools(work)
    + work(work, `/works/full/${work.filename}`, links)

mixin workTools(work)
  .work__tools

    if authenticated
      button.btn.btn-link(data-link=`/language/${work.hash}#parents`) parents
      button.btn.btn-link(data-link=`/language/${work.hash}#siblings`) siblings


      button.btn.btn-breed(data-hash=work.hash) breed
      button.btn.btn-rerender(data-hash=work.hash) re
      button.btn.btn-link(data-link=`/dissect/${work.hash}#parents`) dissect
      if work.frozen
        button.btn.btn-freeze(data-hash=work.hash, data-frozen=false) unfreeze
      else
        button.btn.btn-freeze(data-hash=work.hash, data-frozen=true) freeze
      button.btn.btn-kill(data-hash=work.hash) &times;

mixin work(work, URL, links, noTitle)
  if links
    a.no-link(href=`/language/${work.hash.substring(0,8)}`)
      + workBody(work, URL, links, noTitle)
  else
      + workBody(work, URL, links, noTitle)


mixin workBody(work, URL, noTitle)
  if work.imageStatus === 0
    img.work__image(src='/images/rendering.png')
    if !noTitle
      p.title= `${work.title} (rendering)`

  else if work.imageStatus === 2
    img.work__image(src=URL)
    if !noTitle
      p.title= work.title