extends ../layout
include ../mixins/work


block meta
  link(href=`/works/thumb/${current.filename}`, rel='shortcut icon')
  link(href=`/works/thumb/${current.filename}`, rel='icon')
  meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', name='viewport')

  meta(content=`${current.title}`, property='twitter:title')
  meta(content=`${current.title}`, property='og:title')
  meta(content='http://death.imitates.org/language/' + current.hash.substring(0,8), property='og:url')
  meta(content='http://death.imitates.org/language/' + current.hash.substring(0,8), property='twitter:url')
  meta(content=current.hash, property='og:description')
  meta(content=current.hash, property='twitter:description')
  meta(content=current.hash, property='description')

  meta(content='http://death.imitates.org/works/medium/' + current.filename, property='og:image')
  meta(content='http://death.imitates.org/works/medium/' + current.filename, property='twitter:image')
  meta(content='http://death.imitates.org/works/full/' + current.filename, property='twitter:card')
  meta(content='Death Imitates Language', property='og:site_name')
  meta(content='article', property='og:type')
  meta(content='summary', property='twitter:card')
  meta(content='@harmvddorpel', property='twitter:site')
  meta(content='@harmvddorpel', property='twitter:creator')


block nav
  .nav
    ul.buttons
      li.nav-button
        a.text(href='/about') About

      li.nav-button
        a.text(href='/') Population

block content
  .slides-container
    .section.section--current(data-anchor="top")
      .work--full.work.work--has-tools(data-hash=current.hash)

        .work-full-image(style=`background-image:url(/works/full/${current.filename})`)
          .full-image-title.rotate-90= `${current.title}`
        + workTools(current)

        if parents.length == 2
          .link-to-parent.left <i class='icon-arrow-down'></i> <u>Parents</u> <i class='icon-arrow-down'></i>
          .link-to-parent.right <i class='icon-arrow-down'></i> <u>Parents</u> <i class='icon-arrow-down'></i>


    if parents.length == 2

      .section.section--parents(data-anchor="parents")
        .parents
          + workParent(parents[0])
          .parents__separator.rotate-90 Parents
          + workParent(parents[1])
        if siblings && siblings.length > 0
          .link-to-siblings
            i.icon-arrow-down
            &nbsp;
            u= `Siblings (${siblings.length})`
            &nbsp;
            i.icon-arrow-down
        else if children && children.length > 0
          .link-to-children
            i.icon-arrow-down
            &nbsp;
            u= `Children (${children.length})`
            &nbsp;
            i.icon-arrow-down


    if siblings && siblings.length > 0
      .section.screen--siblings.section--siblings(data-anchor="siblings")
        p.siblings-title Siblings
        .siblings
          .siblings__items
            each work in siblings
              .work--thumb.work.work--has-tools(data-hash=work.hash)
                + workTools(work)
                a(href=`/language/${work.hash.substring(0,8)}`)
                  img.work__image(src=`/works/thumb/${work.filename}`)
                  p.title.title--thumb= work.title
        if children && children.length > 0
          .link-to-children
            i.icon-arrow-down
            &nbsp;
            u= `Children (${children.length})`
            &nbsp;
            i.icon-arrow-down

    if children && children.length > 0
      .section.screen--children.section--children(data-anchor="children")
        p.children-title Children
        .children
          .children__items
            each work in children
              .work--thumb.work.work--has-tools(data-hash=work.hash)
                + workTools(work)
                a(href=`/language/${work.hash.substring(0,8)}`)
                  img.work__image(src=`/works/thumb/${work.filename}`)
                  p.title.title--thumb= work.title

  script(type='text/javascript').
    window.pageClass = '#{script}';

mixin workParent(parent)
  .work--medium.work.work--has-tools
    a(href=`/language/${parent.hash.substring(0,8)}`)
      img.parent__work__image(src=`/works/medium/${parent.filename}`)
    + workTools(parent)
    p.title.title--parent= parent.title
