extends ../layout
include ../mixins/work

block meta
  link(href=`/works/thumb/${works[0].filename}`, rel='shortcut icon')
  link(href=`/works/thumb/${works[0].filename}`, rel='icon')
  meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', name='viewport')

  meta(content=`${title}`, property='twitter:title')
  meta(content=`${title}`, property='og:title')
  meta(content='http://death.imitates.org/', property='og:url')
  meta(content='http://death.imitates.org/', property='twitter:url')
  meta(content='http://death.imitates.org/works/medium/'+ works[0].filename, property='og:image')
  meta(content='http://death.imitates.org/works/medium/' + works[0].filename, property='twitter:image')
  meta(content='http://death.imitates.org/works/full/' + works[0].filename, property='twitter:card')
  meta(content='Death Imitates Language', property='og:site_name')
  meta(content='article', property='og:type')
  meta(content='summary', property='twitter:card')
  meta(content='@harmvddorpel', property='twitter:site')
  meta(content='@harmvddorpel', property='twitter:creator')
  meta(content=metaDescription, property='og:description')
  meta(content=metaDescription, property='twitter:description')
  meta(content=metaDescription, property='description')
  link(rel="alternate", type="application/rss+xml", title="Death Imitates Language Feed", href="http://death.imitates.org/feed")

block nav
  .nav
    ul.buttons
      li.nav-button
        a.text(href='/about') About
      li.nav-button
        a.text(href='/freezer')= `Frozen (${frozenCount})`

block content
  .recent
    each work in works.slice(0, 250)
      + indexThumb(work, true, true)
