<div class="work-info__side">
  <a href="/language/{{current.hash}}">
    <img src="/works/thumb/{{ current.filename }}" class="work-info__thumb">
  </a>
  <div class="work-info__parents">
    <a href="/language/{{parents.0.hash}}">
      <img src="/works/thumb/{{ parents.0.filename }}" class="work-info__parent">
    </a>
    <div class="work-info__heart">♥</div>
    <a href="/language/{{parents.1.hash}}">
      <img src="/works/thumb/{{ parents.1.filename }}" class="work-info__parent">
    </a>
  </div>
</div>

<div class="work-info__props">
  <h3>{{ current.title }} {{ parents.0.title }} {{ parents.1.title }}</h3>
  <div><img class='icon' src="/images/icon-calendar.png">Born {{current.ago}}</div>
  <div><img class='icon' src="/images/icon-stats.png">76 Views</div>
  <div><img class='icon' src="/images/icon-pulse.png">Frozen</div>

  <div class="work-info__buttons">
    <button type="button" class="btn"> Siblings ({{ siblings.length }})</button>
    <button type="button" class="btn">
      {{#if children.length}}
        Children ({{ children.length}})
      {{else}}
        Virgin
      {{/if}}
    </button>
  </div>
</div>

