<div class="work-info__side">
  <a href="/language/{{current.hash}}">
    <img src="/works/thumb/{{ current.filename }}" class="work-info__thumb">
  </a>
  <div class="work-info__parents">
    <a href="/language/{{current.hash}}#parents">
      <img src="/works/thumb/{{ parents.0.filename }}" class="work-info__parent">
      <div class="work-info__heart">♥</div>
      <img src="/works/thumb/{{ parents.1.filename }}" class="work-info__parent">
    </a>
  </div>
</div>

<div class="work-info__props">
  <h3>{{ current.title }} {{ parents.0.title }} {{ parents.1.title }}</h3>
  <div><img class='icon' src="/images/icon-calendar.png">
    Born {{current.ago}}
  </div>
  <div><img class='icon' src="/images/icon-stats.png">
    {{current.hits}} Views
  </div>
  <div><img class='icon' src="/images/icon-pulse.png">
    {{#if current.frozen}}
      Frozen
    {{else}}
      {{#if current.enabled}}
        Alive
      {{else}}
        Killed
      {{/if}}
    {{/if}}
  </div>

  <div class="work-info__buttons">
    {{#if siblings.length}}
      <a href="/language/{{current.hash}}#siblings" class="btn"> {{ siblings.length }} Siblings</a>
    {{else}}
      <a href="#" disabled class="btn">Only Child</a>
    {{/if}}

    {{#if children.length}}
      <a href="/language/{{current.hash}}#children" class="btn">{{ children.length}} Children</a>
    {{else}}
      <a href="#" disabled class="btn">Virgin</a>
    {{/if}}

  </div>
</div>

